# pycharm and python folders
__pycache__/
smartscheduler/__pycache__/
test/__pycache__/
.idea/

# files
*.txt
!requirements.txt

# .exe build folders
build/
dist/

# .tar releases folder
releases/

# extra .spec files
*.spec
!smartscheduler.spec

# databases
smartscheduler/**/*.db
test/**/*.db

# test folders and files
test*.py
smartscheduler/test*/
smartscheduler/test*.py