# pycharm and python folders
__pycache__/
smartscheduler/__pycache__/
test/__pycache__/
.idea/

# files
*.txt
!requirements.txt

# .exe build folders
build/
dist/

# .tar builds
*.tar

# databases
smartscheduler/**/*.db
test/**/*.db

# test folders and files
smartscheduler/test*/
smartscheduler/test*