# pycharm and python folders
__pycache__/
smartscheduler/__pycache__/
test/__pycache__/
.idea/

# files
feedback.md
*.txt
!requirements.txt

# build files folders
build.bat
build/
dist/
Smart Scheduler/

# releases folder
releases/

# extra .spec files
*.spec
!smartscheduler_build.spec

# databases
smartscheduler/**/*.db
test/**/*.db

# test folders and files
/test*.py
smartscheduler/test*/
smartscheduler/test*.py